<h1>yup this is the landing page! dont forget to add a few buttons here xoxo</h1>



<form action="/checkmarket" method="POST">
    <input type="text" name="marketname" placeholder="market name">
    <button>Check the price</button>
</form>

Market adı:  BTCTRY Stock adı:  Bitcoin <br>
Market adı:  ETHTRY Stock adı:  Ethereum<br>
Market adı:  LTCTRY Stock adı:  Litecoin<br>
Market adı:  DASHTRY Stock adı:  Dash<br>
Market adı:  DOGETRY Stock adı:  Dogecoin<br>
Market adı:  XRPTRY Stock adı:  Ripple<br>
Market adı:  XLMTRY Stock adı:  Stellar<br>
Market adı:  BCHTRY Stock adı:  Bitcoin Cash<br>
Market adı:  EOSTRY Stock adı:  EOS<br>
Market adı:  XEMTRY Stock adı:  Nem<br>
Market adı:  BTGTRY Stock adı:  Bitcoin Gold<br>
Market adı:  ETCTRY Stock adı:  Eth Classic<br>
Market adı:  USDTTRY Stock adı:  USDTether<br>
Market adı:  TRXTRY Stock adı:  TRON<br>
Market adı:  BTTTRY Stock adı:  Bittorrent<br>
Market adı:  ADATRY Stock adı:  Cardano<br>
Market adı:  XMRTRY Stock adı:  Monero<br>
Market adı:  ZECTRY Stock adı:  ZCash<br>
Market adı:  BTCUSDT Stock adı:  Bitcoin<br>
Market adı:  ETHUSDT Stock adı:  Ethereum<br>
Market adı:  LTCUSDT Stock adı:  Litecoin<br>
Market adı:  DOGEUSDT Stock adı:  Dogecoin<br>
Market adı:  XRPUSDT Stock adı:  Ripple<br>
Market adı:  XLMUSDT Stock adı:  Stellar<br>
Market adı:  BCHUSDT Stock adı:  Bitcoin Cash<br>
Market adı:  EOSUSDT Stock adı:  EOS<br>
Market adı:  ETCUSDT Stock adı:  Eth Classic<br>
Market adı:  TRXUSDT Stock adı:  TRON<br>
Market adı:  ETHBTC Stock adı:  Ethereum<br>
Market adı:  TRXBTC Stock adı:  TRON<br>
Market adı:  XRPBTC Stock adı:  Ripple<br>
Market adı:  LTCBTC Stock adı:  Litecoin<br>
Market adı:  BCHBTC Stock adı:  Bitcoin Cash<br>
Market adı:  XLMBTC Stock adı:  Stellar<br>